.about-wrapper {
	position: relative;
	overflow: hidden;
	padding-top: 65px;
}

.about-wrapper::after {
	position: absolute;
	right: -180px;
	top: 100px;
	content: '';
	width: 612px;
	height: 518px;
	display: block;
	background: url('../img/illustrations/shape-3.svg') no-repeat right top;
	z-index: -1;
}

.about-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

@media (min-width: 1140px) {
	.about-container {
		justify-content: space-between;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
	}
}

.about-cards {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	-o-order: 2;
	order: 2;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

@media (min-width: 600px) {
	.about-cards {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		justify-content: center;
	}
}

@media (min-width: 1140px) {
	.about-cards {
		width: 488px;
		justify-content: space-between;
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
		padding-left: 0;
	}
}

.cards-1-column {
	
}

.cards-2-column {
	padding-top: 0;
}

@media (min-width: 600px) {
	.cards-2-column {
		padding-left: 60px;
		padding-top: 0;
	}
}

@media (min-width: 890px) and (max-width: 1140px) {
	.cards-1-column {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: 70px;
	}

	.cards-1-column .card {
		margin-right: 110px;
	}

	.cards-2-column {
		padding-top: 0;
		padding-left: 0;
		margin-right: 70px;
	}
}

@media (min-width: 1140px) {
	.cards-2-column {
		padding-left: 0;
		padding-top: 0;
	}
}

.about-content {
	color: #0d3e60;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
	order: 1;
	margin-bottom: 50px;
}

@media (min-width: 1140px) {
	.about-content {
		font-size: 22px;
		width: 550px;
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
		margin-bottom: 0;
	}
}

.about-content p {
	margin-bottom: 36px;
}

.about-toggle-wraper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}

@media (min-width: 600px) {
	.about-toggle-wraper {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		justify-content: center;
	}
}

@media (min-width: 1140px) {
	.about-toggle-wraper {
		margin-bottom: 90px;
	}
}

a.about__toggle, .about__toggle {
	width: 165px;
	height: 46px;
	border-radius: 20px;
	background-color: #fff9df;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 46px;
	color: #2e435e;
	font-size: 14px;
	font-weight: 400;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

@media (min-width: 1140px) {
	a.about__toggle,
	.about__toggle {
		margin-bottom: 0;
	}
}


.about__toggle:hover {
	background-color: #ff8e39;
	color: #fff;
}

.title-special {
	color: #eb5238;
	margin-bottom: 30px;
}

@media (min-width: 1140px) {
	.title-special{
		margin-bottom: 65px;
	}
}

.about-content__box:not(:nth-child(2)) {
	display: none;
}